<% layout( 'layout' ) -%>

<h1 id="page-title"><%= title %></h1>

<div id="list">
  <form action="/create" method="post" accept-charset="utf-8">
    <div class="item-new">
      <input class="input" type="text" name="content" />
    </div>
  </form>
<% 	tag.forEach(function(t){ %>
			    <a><%= t%></a>
			    		<ul class="tag" id="<%=t %>">

			   <%todos.forEach( function ( todo ){ 
			   		if(todo.tag == t){
				   		var color = 'background-color:',
				   			textColor = 'color:';
				   		switch(todo.priority){
				   			case 'A':
				   				color += 'red';
				   				textColor+= 'white';
				   				break;
				   			case 'B':
				   				color += 'white';
				   				break;
				   			case 'C':
				   				color += 'blue';
				   				textColor+= 'white';

				   				break;
			   		}
			   	%>
			    <li><div class="item" style=  <%= color%>>
				    <a class="update-link" style=<%= textColor%> href="/edit/<%= todo.id %>" title="Update this todo item"><%= todo.content %></a>
				    <a class="del-btn" href="/destroy/<%= todo.id %>" title="Delete this todo item">Delete</a>
			    </div></li>
				<% }}); %>
	    </ul>
<% });%>
</div>
