<% layout( 'layout' ) -%>

<h1 id="page-title"><%= title %></h1>

<div id="list">
  <form action="/create" method="post" accept-charset="utf-8">
    <div class="item-new">
      <input class="input" type="text" name="content" />
    </div>
  </form>
<%  var hasNUll = false; %>
<% 	tag.forEach(function(t){ %>
		<div class="tag">
			    <a><%= t%></a>

			   <%todos.forEach( function ( todo ){ 
			   		if(todo.tag == t){
			   			hasNUll = true;
			   		var color = 'background-color:',
			   			textColor = 'color:';
			   		switch(todo.priority){
			   			case 'A':
			   				color += 'red';
			   				textColor+= 'white';
			   				break;
			   			case 'B':
			   				color += 'white';
			   				break;
			   			case 'C':
			   				color += 'blue';
			   				textColor+= 'white';

			   				break;

			   		}
			   	%>
			    <div class="item" style=  <%= color%>>
				    <a class="update-link" style=<%= textColor%> href="/edit/<%= todo.id %>" title="Update this todo item"><%= todo.content %></a>
				    <a class="del-btn" href="/destroy/<%= todo.id %>" title="Delete this todo item">Delete</a>
			    </div>
				<% }}); %>
	    </div>
<% });
	if(hasNUll){%>
<div class="tag">
<% todos.forEach( function ( todo ){ 
			   		if(todo.tag == null){
					   	var color = 'background-color:',
			   			textColor = 'color:';
			   		switch(todo.priority){
			   			case 'A':
			   				color += 'red';
			   				textColor+= 'white';
			   				break;
			   			case 'B':
			   				color += 'white';
			   				break;
			   			case 'C':
			   				color += 'blue';
			   				textColor+= 'white';

			   				break;

			   		}
			   	%>
			  <div class="item" style=  <%= color%>>
				    <a class="update-link" style=<%= textColor%> href="/edit/<%= todo.id %>" title="Update this todo item"><%= todo.content %></a>
				    <a class="del-btn" href="/destroy/<%= todo.id %>" title="Delete this todo item">Delete</a>
			    </div>
				<% }});} %>
</div>
</div>
